.thumbGallery {
  height: 100%;
  width: 100%;
  flex: 1;
  text-align: center;
}

.thumbGallery:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  scale: 1.05;
}

.card {
  display: flex;
  height: 20rem;
  width: 30rem;
}

.cardText {
  flex: 1;
  overflow-y: auto;
}

.cardTitle {
  display: flex;
  font-size: 1.5rem;
  margin-top: auto;
}

.custom-modal-size {
  max-width: 70%;
  max-height: 100%;
}

.custom-modal-size-small{
  max-width: max-content;
}

.custom-modal-size-small img{
  height: 30rem;
}

.gitTitleLink{
  color: black;
  margin-left: auto;
}