.thumbGallery {
  height: 100%;
  width: 100%;
  flex: 1;
  text-align: center;
}

.thumbGallery:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.card {
  display: flex;
  height: 20rem;
  width: 30rem;
}

.cardText {
  flex: 1;
  overflow-y: auto;
}

.cardTitle {
  display: flex;
  padding-top: 5%;
  font-size: 1.5rem;
}

.custom-modal-size {
  max-width: 70%;
  max-height: 100%;
}

.gitChessCustomModal{
  max-width: fit-content;
}

.gitChessCustomModal img{
  height: 30rem;
}